.navbar {
    padding: var(--inner-padding);
    box-shadow: inset -1px -1px var(--shadow-red);
}

.navbar a {
    color: var(--font-color3);
}

.navbar a::before {
    content: '\27F5';
}

@media screen and (min-width: 700px) {
    .navbar {
        margin-bottom: calc(var(--inner-padding) * 2);
        box-shadow: 1px 1px 1rem var(--shadow-red);
    }
}

.banner {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.text {
    --inner-padding: 2rem;
    padding: var(--inner-padding);
    box-sizing: border-box;
}

.text p {
    margin-bottom: var(--inner-padding);
}

.banner figure {
    width: 100%;
    height: 100%;
}

.banner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.link {
    text-decoration: none;
    color: var(--font-color3);
    font-weight: bold;
    transition: transform .2s linear;
}

.link:hover,
.link:focus {
    display: inline-block;
    transform: skew(-15deg);
}

@media screen and (min-width: 700px) {
    .banner {
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        align-items: center;
    }

    .banner div {
        width: 50%;
    }

    .image {
        align-self: stretch;
        transition: transform .5s linear;
    }

    .image:hover {
        transform: scale(1.02);
    }
}

.botao {
    width: 100%;
    background-color: var(--shadow-red);
    border: none;
    padding: var(--inner-padding);
    overflow: hidden;
    position: relative;
}

.botao a {
    color: var(--font-color2);
    font-size: 1.6rem;
    font-weight: normal;
}

.botao span,
.botao .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.botao span {
    left: 0;
    width: 70%;
}

.botao .icon {
    right: 0;
    width: 30%;
}

.botao * {
    transition: all .5s linear;
}

.botao:hover span,
.botao:focus span {
    transform: translate(-100%, -50%);
}

.botao:hover .icon,
.botao:focus .icon {
    width: 100%;
}

.shoplist {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: var(--inner-padding) auto;
    gap: .5rem;
    box-sizing: border-box;
    justify-content: space-evenly;
}

@media screen and (min-width: 700px) {
    .shoplist {
        justify-content: space-between;
        width: 80%;
    }
}

.shoplist h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px var(--font-color3);
}

.shoplist figure {
    width: calc((100% / 2) - .5rem);
    height: auto;
}

@media screen and (min-width: 700px) {
    .shoplist figure {
        width: calc((100% / 3) - .5rem);
    }
}

.shoplist figure img {
    display: block;
    width: 100%;
    object-fit: cover;
    filter: saturate(.9) contrast(90%) brightness(80%);
}

.shoplist figure img:hover,
.shoplist figure img:focus {
    filter: saturate(1.1) contrast(100%) brightness(100%);
    cursor: pointer;
}