@import url('./animationLaptop.css');
@import url('./animationPrinter.css');

.navbar ul {
    padding: var(--inner-padding);
    background-color: var(--dark-gray);
}

.navbar a {
    color: var(--font-color2);
}

.navbar a::before {
    content: '\27F5';
}

main {
    background-color: var(--dark-gray);
}

@media screen and (min-width: 700px) {
    main {
        --inner-padding: 3rem;
        padding: var(--inner-padding) 0;
    }
}

.animation.first {
    background-color: var(--orange);
}

.animation.second {
    background-color: var(--pink);
}

.animation {
    --inner-padding: 2rem;
    width: 100%;
    padding: var(--inner-padding);
    box-sizing: border-box;
}

@media screen and (min-width: 700px) {
    .animation {
        margin: 0 auto;
        width: 80%;
    }
}

footer {
    background-color: var(--dark-gray);
    color: var(--font-color2);
}